.fade-enter-active,
.fade-exit-active {
    transition: opacity linear 100ms;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.magnify-enter-active,
.magnify-exit-active {
    transition: opacity linear 100ms, transform ease 100ms;
}

.magnify-enter {
    opacity: 0;
    transform: scale(.9);
}

.magnify-enter-active,
.magnify-exit {
    opacity: 1;
    transform: scale(1);
}

.magnify-exit-active {
    opacity: 0;
    transform: scale(.9);
}

.slideleft-enter-active,
.slideleft-exit-active {
    transition: transform ease-in-out 100ms;
}

.slideleft-enter {
    transform: translateX(-100%);
}

.slideleft-enter-active,
.slideleft-exit {
    transform: translateX(0);
}

.slideleft-exit-active {
    transform: translateX(-100%);
}

.slideup-enter-active,
.slideup-exit-active {
    transition: opacity linear 100ms, transform ease-out 200ms;
}

.slideup-enter {
    opacity: 0;
    transform: translateY(100%);
}

.slideup-enter-active,
.slideup-exit {
    opacity: 1;
    transform: translateY(0);
}

.slideup-exit-active {
    opacity: 0;
    transform: translateY(100%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
